.layout {
    min-width: 600px;
}

.container-card {
    background: #ffffff;
    padding: 24px;
    margin-bottom: 50px;

}

.orange {
    color: #ec6611;
}

.title {
    color: #eeeeee;
    font-size: 18px;
}

.top-menu {
    line-height: 64px;
    float: right;
}

.content {
    padding: 50px 50px 0 50px;
}

.layout.ant-layout {
    min-height: 100vh;
}

.top-menu a {
    padding: 0 20px;
}

.top-menu a.active {
    background: #1890ff;
    color: white;
}

.ant-menu-item {
    padding: 0;
}